.oraclegui {
  margin-top: 10%;
  text-align: center;
  display: flex;
  font-family: monospace;
  font-weight: bold;
  overflow: hidden;
}

.oracleguiSideContainer {
  flex: 1; /* Each half takes up half of the container's width */
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.oracleguiLeftContainer {
  margin-left: 3vw;
}

.oracleguiRightContainer {
  margin-left: 3vw;
  width: 40vw;
  padding: 3% 0% 10% 0%;
  border-radius: 15px;
  border-color: #00ECC3 !important;
  border-width: 2px !important;
  border-style: solid !important;
  position: relative;
}

.oracleguiContentContainer{
  margin-bottom: 5%;
}

.selectTokenText {
  font-size: 35px;
}

.tokenInputField {
  width: 36.5%;
  line-height: 35px;
  font-size: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.oracleguiText {
  color: #ffffff;
}

.tradingview-widget-container {
  position: relative;
  height: 70vh !important;
}


.oracleguiButtonText {
  cursor: pointer;
  background-color: #B8C0FF;
  border-color: #B8C0FF;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding: .75% 2% 1% 2%;
  font-size: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.oracleguiButtonContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.mintWithBaseContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mintWithBaseText {
  font-size: 28px;
  margin-left: 100%;
  padding-right: 0%;
  display: flex;
  width: 100%;
}

.mintWithBaseImage {
  width: 25%;
  padding: 2% 4.5% 2% 3.5%;
  background-color: #ffffff;
  border-radius: 30px;
  margin-left: 5%;
}

.oracleguiInfoText {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  font-size: 22px;
  width: 37.5%;
  cursor: default;
}

.comicDescriptionContainer {
  border-color: #00ECC3;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  width: 90%;
  margin-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.oracleguiRightButtonText {
  margin-left: 3%;
}

.oracleguiMintButtonText {
  width: 33%;
  font-size: 20px;
}

.oracleguiInputField {
  width: 36.5%;
  line-height: 27px;
  font-size: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.mintButtonContainer2 {
  margin-bottom: 2%;
}



.oracleguiTextContainer_TotalPrice {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}


.customPriceText {
  font-size: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.readButtonContainer {
  padding: 3% 3% 3% 3%;
  border-radius: 15px 15px 15px 15px;
  border-color: #ffffff;
  border-width: 3px;
  border-style: solid;
  width: 85%;
  margin-left: 4%;
}

.oracleguiReadText {
  width: 40%;
  font-size: 25px;
}



@media only screen and (max-width: 560px) {
  .oraclegui {
    flex-direction: column;
  }

  .oracleguiLeftContainer {
    margin-left: 10vw;
    margin-bottom: 10%;
  }

  .oracleguiRightContainer {
    width: 90vw;
    margin-left: 5vw;
  }

  .comicCoverImage {
    width: 80vw;
  }

  .descriptionImage {
    width: 75vw;
  }

  .oracleguiButtonText {
    padding: 1.75% 3% 2% 3%;
  }

  .mintWithBaseContainer {
    flex-direction: row;
    margin-left: 0%;
    margin-bottom: 5%;
    padding-left: 0%;
    width: 85vw;
  }
  
  .mintWithBaseText {
    width:30vw;
    font-size: 20px;
    margin-left: 0%;
    padding-left: 0%;
    margin-right: 0%;
    padding-right: 0%;
  }
  
  .mintWithBaseImage {
    width: 20vw;
    padding: 10% 20.5% 10% 18.5%;
    background-color: #ffffff;
    border-radius: 30px;
  }

  .oracleguiInfoText {
    font-size: 16.25px;
    width: 33.5vw;
  }

  .comicDescriptionContainer {
    margin-bottom: 10%;
  }

  .oracleguiMintButtonText {
    width: 33.5vw;
    font-size: 3.25vw;
  }

  .oracleguiInputField {
    width: 38vw;
    line-height: 6vw;
    font-size: 3.25vw;
  }

  .customPriceText {
    font-size: 4vw;
  }

  .oracleguiReadText {
    font-size: 3.5vw;
  }

}
